[submodule "XMPPFramework"]
	path = XMPPFramework
	url = https://github.com/robbiehanson/XMPPFramework.git
[submodule "ECSlidingViewController"]
	path = ECSlidingViewController
	url = https://github.com/edgecase/ECSlidingViewController.git
[submodule "DAKeyboardControl"]
	path = DAKeyboardControl
	url = https://github.com/danielamitay/DAKeyboardControl
